<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="CN100SectionGroup" type="System.Configuration.ConfigurationSectionGroup, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
      <section name="imageSection" type="CN100.EnterprisePlatform.Configuration.ImageSection, CN100.EnterprisePlatform.Configuration" />
      <section name="wcfSection" type="CN100.EnterprisePlatform.Configuration.WcfSection, CN100.EnterprisePlatform.Configuration" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ImageListDomain" value="http://img01.cn100.com" />
    <!--图片空间链接地址-->
    <add key="PicSpaceLink" value="http://pic.cn100.com/SpaceInfo.aspx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <CN100SectionGroup xmlns="CN100.EnterprisePlatform.Configuration">
    <!--WCF配置节-->
    <wcfSection>
      <hosts>
        <host name="default" ip="127.0.0.1" port="9999" isDefault="true" />
      </hosts>
    </wcfSection>
    <!--图片配置节-->
    <imageSection>
      <urls>
        <url name="Image1" url="http://img108.cn100.com" />
      </urls>
    </imageSection>
  </CN100SectionGroup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite" />
      <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, CN100.BH.ORM, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </DbProviderFactories>
  </system.data>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>